name: frontend

on:

  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  docker-run:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Access pwd
        run: |
          ls -a /


        




        



        







      
  
